<a class="btn btn-primary" href="/dash">Back</a>

<h3> This is the GAD7 <h3>
 
  <tr>
   <td></td>
    <td>0: Not at all sure<br></td>
   <td>1: Several days<br></td>
   <td>2: Over Half the Days<br></td>
   <td>3: Nearly Every Day<br></td>
 </tr>

 <form method="post">
	{% csrf_token %}
	{{ form }}
    <label for="1">Feeling nervous, anxious, or on edge: </label>
	<br />
    <input id="first" type="radio" name="first" value="1">
	<input id="first" type="radio" name="first" value="2">
	<input id="first" type="radio" name="first" value="3">
	<input id="first" type="radio" name="first" value="4">
	<br />
	<label for="2">Not being able to stop control or worrying: </label>
	<br />
    <input id="second" type="radio" name="second" value="1">
	<input id="second" type="radio" name="second" value="2">
	<input id="second" type="radio" name="second" value="3">
	<input id="second" type="radio" name="second" value="4">
	<br />
	<label for="3">Worrying too much about many things: </label>
	<br />
    <input id="third" type="radio" name="third" value="1">
	<input id="third" type="radio" name="third" value="2">
	<input id="third" type="radio" name="third" value="3">
	<input id="third" type="radio" name="third" value="4">
	<br />
	<label for="4">Trouble relaxing: </label>
	<br />
    <input id="fourth" type="radio" name="fourth" value="1">
	<input id="fourth" type="radio" name="fourth" value="2">
	<input id="fourth" type="radio" name="fourth" value="3">
	<input id="fourth" type="radio" name="fourth" value="4">
	<br />
	<label for="5">Restlessness to the point of that you have trouble sitting still: </label>
	<br />
    <input id="fifth" type="radio" name="fifth" value="1">
	<input id="fifth" type="radio" name="fifth" value="2">
	<input id="fifth" type="radio" name="fifth" value="3">
	<input id="fifth" type="radio" name="fifth" value="4">
	<br />
	<label for="6">Becoming easily annoyed: </label>
	<br />
    <input id="sixth" type="radio" name="sixth" value="1">
	<input id="sixth" type="radio" name="sixth" value="2">
	<input id="sixth" type="radio" name="sixth" value="3">
	<input id="sixth" type="radio" name="sixth" value="4">
	<br />
	<label for="7">Feeling afraid as if something awful is to come: </label>
	<br />
    <input id="seventh" type="radio" name="seventh" value="1">
	<input id="seventh" type="radio" name="seventh" value="2">
	<input id="seventh" type="radio" name="seventh" value="3">
	<input id="seventh" type="radio" name="seventh" value="4">
	<br />
	<input type="submit" value="Submit">
</form>
