<h1> Logged in as {{ user.username }} </h1>

<a class="btn btn-primary" href="/dash">Back</a>

<h3> This is the GAD7 <h3>
 <tr>
   <td></td>
    <td>0: Not At All Sure<br></td>
   <td>1: Several Days<br></td>
   <td>2: Over Half the Days<br></td>
   <td>3: Nearly Every Day<br></td>
 </tr>

 <ol>
 	<tr id = "GAD1" class="datafield">
   <td class="griditem"><li>Feeling nervous, anxious, or on edge</li></td>
   <td><input type=radio value="1"></td>
   <td><input type=radio value="2"></td>
   <td><input type=radio value="3"></td>
   <td><input type=radio value="4"></td>
 	</tr>	
 
 <tr class="datafield">
   <td class="griditem"><li>Not being able to stop control or worrying</li></td>
   <td><input type=radio  name="GAD2" value="1"></td>
   <td><input type=radio  name="GAD2" value="2"></td>
   <td><input type=radio  name="GAD2" value="3"></td>
   <td><input type=radio  name="GAD2" value="4"></td>
 </tr>
 
 <tr>
   <td class="griditem"><li>Worrying too much about many things</li></td>
   <td><input type=radio  name="GAD3" value="1"></td>
   <td><input type=radio  name="GAD3" value="2"></td>
   <td><input type=radio  name="GAD3" value="3"></td>
   <td><input type=radio  name="GAD3" value="4"></td>
 </tr>
 <tr>
   <td class="griditem"><li>Trouble relaxing</li></td>
   <td><input type=radio  name="GAD4" value="1"></td>
   <td><input type=radio  name="GAD4" value="2"></td>
   <td><input type=radio  name="GAD4" value="3"></td>
   <td><input type=radio  name="GAD4" value="4"></td>
 </tr>
 <tr>
   <td class="griditem"><li>Restlessness to the point of that you have trouble sitting still</li></td>
   <td><input type=radio  name="GAD5" value="1"></td>
   <td><input type=radio  name="GAD5" value="2"></td>
   <td><input type=radio  name="GAD5" value="3"></td>
   <td><input type=radio  name="GAD5" value="4"></td>
 </tr>
 <tr>
   <td class="griditem"><li>Becoming easily annoyed</li></td>
   <td><input type=radio  name="GAD6" value="1"></td>
   <td><input type=radio  name="GAD6" value="2"></td>
   <td><input type=radio  name="GAD6" value="3"></td>
   <td><input type=radio  name="GAD6" value="4"></td>
 </tr>
 <tr>
   <td class="griditem"><li>Feeling afraid as if something awful is to come</li></td>
   <td><input type=radio  name="GAD7" value="1"></td>
   <td><input type=radio  name="GAD7" value="2"></td>
   <td><input type=radio  name="GAD7" value="3"></td>
   <td><input type=radio  name="GAD7" value="4"></td>
 </tr>

 </tr>
    </ol>
        </table>
            <div id = "pan_result_1">
            <form action = "submit" align = "center">
                <input type = "submit" value="Results">
            </form>
            </div>
            </div>
        </div>
    <br>