<!DOCTYPE html>
<html lang="en-US">

{% load staticfiles %}

<head>
  <title>Pellio Home</title>
	<link href="{% static 'home/css/main.css' %}" type="text/css" rel="stylesheet"/>
</head>
</head>
<body>
  
  <div id="header_wrapper">
    <div id="header">
      <a href="">
        <li id="logo"><img src="{% static 'pelliologo.jpg' %}" width="70" height="70"><img src="{% static 'logo9.png' %}" width="150" height="70"></li>
      </a>

    </div>
  </div>
  
  <div class="limiter">
    <div class="container-login100" >
      <div class="wrap-login100 p-t-30 p-b-50">
        <span class="login100-form-title p-b-41">
          Pellio Account Login
        </span>
        <form class="login100-form validate-form p-b-33 p-t-5" method = "POST">
          {% csrf_token %}
          <div class="wrap-input100 validate-input" data-validate = "Enter username">
            <input class="input100" type="text" name="username" placeholder="User name">
            <span class="focus-input100" ></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Enter password">
            <input class="input100" type="password" name="password" placeholder="Password">
            <span class="focus-input100" ></span>
          </div>

          <div class="container-login100-form-btn m-t-32">
            <button class="login100-form-btn">
            
              Login
            
            </button>
          </div>
        
          <br>
          <div class="container-login100-form-btn m-t-32">
            <button class = "login100-form-btn">
            <a href="signup">
              New Account
            </a>
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
  


			<!-- <form method = "POST">
				{% csrf_token %}

				<li>Username<br><input type="text" name="username"><br><a href="signup"><input type = "newAccount" name = "Need an account?" value = "       Need an account?"></a></li> 
 				<li>Password<br><input type="password" name="password"><br><input type="submit" name="login" value="  Log In  "></li> 
			</form> -->
		
    <hr>
        <div id = "First">
    <br>
    <br>

<!-- ==============================================-->
<!-- carousel                                      -->
<!-- ==============================================-->


  <div class="slideshow-container">
    <img class="slide" src="{% static 'positive1.jpg' %}" width:"740" height = "500"/>
    <img class="slide" src="{% static 'positive2.jpg' %}" width:"740" height = "500"/>
    <img class="slide" src="{% static 'positive3.jpg' %}" width:"740" height = "500"/>
  </div>

	<script>
		var myIndex = 0;
		carousel();

		function carousel() {
    	var i;
    	var x = document.getElementsByClassName("slide");
      for (i = 0; i < x.length; i++) {
      	x[i].style.display = "none";  
    	}
    	myIndex++;
	    if (myIndex > x.length) {myIndex = 1}    
  	  x[myIndex-1].style.display = "block";  
    	setTimeout(carousel, 6000); // Change image every 6 seconds
		}
	</script>
	<br>
    <br>
        <div>
    <br>
    <div id="step1">
    <h1 align="left">Step 1: Try an experiment!</h1>
    <hr>
	<p align="left"> Instructions: Try a positive psychology experiment, "Positive and Negative Affect Scale", PANAS for short. Read each feeling or emotion and select how you feel right now.  </p>
    <br>
    <p align = "left"><strong>Level of feeling/emotion currently</strong></p>
        <div id = "Survey" align = "center">
        <table class="grid" align ="center" cellspacing="20">
 
 


 <tr>
   <td></td><td></td>
    <td>Not at all</td>
   <td>A Little</td>
   <td>Moderately</td>
   <td>Quite a Bit</td>
   <td>Strongly</td>
 </tr>

<tr>
   <td>Interested</td>
  <td align="center">
    <td><input type="radio" value="1" name="interested"></td>
    <td><input type="radio" value="2" name="interested"/></td>
    <td><input type="radio" value="3" name="interested"/></td>
    <td><input type="radio" value="4" name="interested"/></td>
    <td><input type="radio" value="5" name="interested"/></td>
  </td>
</tr>

<tr>
  <td>Distressed</td>
  <td align="center">
    <td><input type="radio" value="1" name="distressed"></td>
    <td><input type="radio" value="2" name="distressed"/></td>
    <td><input type="radio" value="3" name="distressed"/></td>
    <td><input type="radio" value="4" name="distressed"/></td>
    <td><input type="radio" value="5" name="distressed"/></td>
  </td>
</tr>

<tr>
  <td>Alert</td>
  <td align="center">
    <td><input type="radio" value="1" name="alert"></td>
    <td><input type="radio" value="2" name="alert"/></td>
    <td><input type="radio" value="3" name="alert"/></td>
    <td><input type="radio" value="4" name="alert"/></td>
    <td><input type="radio" value="5" name="alert"/></td>
  </td>
</tr>

<tr>
  <td>Excited</td>
  <td align="center">
    <td><input type="radio" value="1" name="excited"></td>
    <td><input type="radio" value="2" name="excited"/></td>
    <td><input type="radio" value="3" name="excited"/></td>
    <td><input type="radio" value="4" name="excited"/></td>
    <td><input type="radio" value="5" name="excited"/></td>
  </td>
</tr>

<tr>
  <td>Upset</td>
  <td align="center">
    <td><input type="radio" value="1" name="upset"></td>
    <td><input type="radio" value="2" name="upset"/></td>
    <td><input type="radio" value="3" name="upset"/></td>
    <td><input type="radio" value="4" name="upset"/></td>
    <td><input type="radio" value="5" name="upset"/></td>
  </td>
</tr>

<tr>
  <td>Strong</td>
  <td align="center">
    <td><input type="radio" value="1" name="strong"></td>
    <td><input type="radio" value="2" name="strong"/></td>
    <td><input type="radio" value="3" name="strong"/></td>
    <td><input type="radio" value="4" name="strong"/></td>
    <td><input type="radio" value="5" name="strong"/></td>
  </td>
</tr>

<tr>
  <td>Inspired</td>
  <td align="center">
    <td><input type="radio" value="1" name="inspired"></td>
    <td><input type="radio" value="2" name="inspired"/></td>
    <td><input type="radio" value="3" name="inspired"/></td>
    <td><input type="radio" value="4" name="inspired"/></td>
    <td><input type="radio" value="5" name="inspired"/></td>
  </td>
</tr>

<tr>
  <td>Nervous</td>
  <td align="center">
    <td><input type="radio" value="1" name="nervous"></td>
    <td><input type="radio" value="2" name="nervous"/></td>
    <td><input type="radio" value="3" name="nervous"/></td>
    <td><input type="radio" value="4" name="nervous"/></td>
    <td><input type="radio" value="5" name="nervous"/></td>
  </td>
</tr>

<tr>
  <td>Scared</td>
  <td align="center">
    <td><input type="radio" value="1" name="scared"></td>
    <td><input type="radio" value="2" name="scared"/></td>
    <td><input type="radio" value="3" name="scared"/></td>
    <td><input type="radio" value="4" name="scared"/></td>
    <td><input type="radio" value="5" name="scared"/></td>
  </td>
</tr>

<tr>
  <td>Jittery</td>
  <td align="center">
    <td><input type="radio" value="1" name="jittery"></td>
    <td><input type="radio" value="2" name="jittery"/></td>
    <td><input type="radio" value="3" name="jittery"/></td>
    <td><input type="radio" value="4" name="jittery"/></td>
    <td><input type="radio" value="5" name="jittery"/></td>
  </td>
</tr>

<tr>
  <td>Enthusiastic</td>
  <td align="center">
    <td><input type="radio" value="1" name="enthusiastic"></td>
    <td><input type="radio" value="2" name="enthusiastic"/></td>
    <td><input type="radio" value="3" name="enthusiastic"/></td>
    <td><input type="radio" value="4" name="enthusiastic"/></td>
    <td><input type="radio" value="5" name="enthusiastic"/></td>
  </td>

</tr>
    </ol>
        </table>
          <div>
            <!-- <div id = "pan_result_1"> -->
            <form action = "submit" align = "center">
                <input type = "submit" value=" Results ">
            </form>
            <!-- </div> -->
            </div>
        </div>
    <br>


	<br>
    <div id = "step2">
	<h1 align="left">Step 2: Watch this video! (or any comedy video you want)</h1>
    <hr>
    <br>
    <br>
    <br>
    <p align="center"><iframe width="560" height="315" src="https://www.youtube.com/embed/REwzZcxeVQI" frameborder="0" allowfullscreen></iframe></p>
        <br>
        <br>
        <div>
    <br>
    <br>
        <div id = "step3">
        <h1 align = "left">Step 3: Fill out the PANAS again</h1>
        <hr>
            <br>
                    <div id = "Survey2" align = "center">
                    <table class="grid" align ="center" cellspacing="20">
 <tr>
   <td></td><td></td>
    <td>Not at all</td>
   <td>A Little</td>
   <td>Moderately</td>
   <td>Quite a Bit</td>
   <td>Strongly</td>
 </tr>

<tr>
   <td>Interested</td>
  <td align="center">
    <td><input type="radio" value="1" name="interested"></td>
    <td><input type="radio" value="2" name="interested"/></td>
    <td><input type="radio" value="3" name="interested"/></td>
    <td><input type="radio" value="4" name="interested"/></td>
    <td><input type="radio" value="5" name="interested"/></td>
  </td>
</tr>

<tr>
  <td>Distressed</td>
  <td align="center">
    <td><input type="radio" value="1" name="distressed"></td>
    <td><input type="radio" value="2" name="distressed"/></td>
    <td><input type="radio" value="3" name="distressed"/></td>
    <td><input type="radio" value="4" name="distressed"/></td>
    <td><input type="radio" value="5" name="distressed"/></td>
  </td>
</tr>

<tr>
  <td>Alert</td>
  <td align="center">
    <td><input type="radio" value="1" name="alert"></td>
    <td><input type="radio" value="2" name="alert"/></td>
    <td><input type="radio" value="3" name="alert"/></td>
    <td><input type="radio" value="4" name="alert"/></td>
    <td><input type="radio" value="5" name="alert"/></td>
  </td>
</tr>

<tr>
  <td>Excited</td>
  <td align="center">
    <td><input type="radio" value="1" name="excited"></td>
    <td><input type="radio" value="2" name="excited"/></td>
    <td><input type="radio" value="3" name="excited"/></td>
    <td><input type="radio" value="4" name="excited"/></td>
    <td><input type="radio" value="5" name="excited"/></td>
  </td>
</tr>

<tr>
  <td>Upset</td>
  <td align="center">
    <td><input type="radio" value="1" name="upset"></td>
    <td><input type="radio" value="2" name="upset"/></td>
    <td><input type="radio" value="3" name="upset"/></td>
    <td><input type="radio" value="4" name="upset"/></td>
    <td><input type="radio" value="5" name="upset"/></td>
  </td>
</tr>

<tr>
  <td>Strong</td>
  <td align="center">
    <td><input type="radio" value="1" name="strong"></td>
    <td><input type="radio" value="2" name="strong"/></td>
    <td><input type="radio" value="3" name="strong"/></td>
    <td><input type="radio" value="4" name="strong"/></td>
    <td><input type="radio" value="5" name="strong"/></td>
  </td>
</tr>

<tr>
  <td>Inspired</td>
  <td align="center">
    <td><input type="radio" value="1" name="inspired"></td>
    <td><input type="radio" value="2" name="inspired"/></td>
    <td><input type="radio" value="3" name="inspired"/></td>
    <td><input type="radio" value="4" name="inspired"/></td>
    <td><input type="radio" value="5" name="inspired"/></td>
  </td>
</tr>

<tr>
  <td>Nervous</td>
  <td align="center">
    <td><input type="radio" value="1" name="nervous"></td>
    <td><input type="radio" value="2" name="nervous"/></td>
    <td><input type="radio" value="3" name="nervous"/></td>
    <td><input type="radio" value="4" name="nervous"/></td>
    <td><input type="radio" value="5" name="nervous"/></td>
  </td>
</tr>

<tr>
  <td>Scared</td>
  <td align="center">
    <td><input type="radio" value="1" name="scared"></td>
    <td><input type="radio" value="2" name="scared"/></td>
    <td><input type="radio" value="3" name="scared"/></td>
    <td><input type="radio" value="4" name="scared"/></td>
    <td><input type="radio" value="5" name="scared"/></td>
  </td>
</tr>

<tr>
  <td>Jittery</td>
  <td align="center">
    <td><input type="radio" value="1" name="jittery"></td>
    <td><input type="radio" value="2" name="jittery"/></td>
    <td><input type="radio" value="3" name="jittery"/></td>
    <td><input type="radio" value="4" name="jittery"/></td>
    <td><input type="radio" value="5" name="jittery"/></td>
  </td>
</tr>

<tr>
  <td>Enthusiastic</td>
  <td align="center">
    <td><input type="radio" value="1" name="enthusiastic"></td>
    <td><input type="radio" value="2" name="enthusiastic"/></td>
    <td><input type="radio" value="3" name="enthusiastic"/></td>
    <td><input type="radio" value="4" name="enthusiastic"/></td>
    <td><input type="radio" value="5" name="enthusiastic"/></td>
  </td>
 
    </ol>
        </table>
            <div>
            <!-- <div id = "pan_result_2"> -->
            <form action = "submit" align = "center">
                <input type = "submit" value=" Results ">
            </form>
            <!-- </div> -->
        </div>
    <br>
    <div class="footer">Powered by <a href="https://rcos.io" title="RCOS">RCOS</a></div>
    </div>
    </body>

 	<script>
 		//put into function and then move it back to the top
 	var test = document.querySelectorAll("tr.datafield");
	for (var i = 0; i < test.length; ++i) {
		//data = document.querySelector("tr#g" + i + " input:checked").value;
		data = test[i].querySelector("input:checked");
		console.log(data, test[i].id);
	}
 </script>
</html>