<h1> Logged in as {{ user.username }} </h1>

<a class="btn btn-primary" href="/dash">Back</a>


<h3> This is the PHQ9 <h3>
 <tr>
   <td></td>
    <td>0: Not At All Sure<br></td>
   <td>1: Several Days<br></td>
   <td>2: Over Half the Days<br></td>
   <td>3: Nearly Every Day<br></td>
 </tr>

 <ol>
 	<tr id = "PHQ1" class="datafield">
   <td class="griditem"><li>Little interest or pleasure in doing things</li></td>
   <td><input type=radio value="1"></td>
   <td><input type=radio value="2"></td>
   <td><input type=radio value="3"></td>
   <td><input type=radio value="4"></td>
 	</tr>	
 
 <tr class="datafield">
   <td class="griditem"><li>Feeling down, all played out, depressed</li></td>
   <td><input type=radio  name="PHQ2" value="1"></td>
   <td><input type=radio  name="PHQ2" value="2"></td>
   <td><input type=radio  name="PHQ2" value="3"></td>
   <td><input type=radio  name="PHQ2" value="4"></td>
 </tr>
 
 <tr>
   <td class="griditem"><li>Trouble falling or staying asleep or sleeping too much</li></td>
   <td><input type=radio  name="PHQ3" value="1"></td>
   <td><input type=radio  name="PHQ3" value="2"></td>
   <td><input type=radio  name="PHQ3" value="3"></td>
   <td><input type=radio  name="PHQ3" value="4"></td>
 </tr>
 <tr>
   <td class="griditem"><li>Feeling tired or exhausted</li></td>
   <td><input type=radio  name="PHQ4" value="1"></td>
   <td><input type=radio  name="PHQ4" value="2"></td>
   <td><input type=radio  name="PHQ4" value="3"></td>
   <td><input type=radio  name="PHQ4" value="4"></td>
 </tr>
 <tr>
   <td class="griditem"><li>Poor appetite, or overeating</li></td>
   <td><input type=radio  name="PHQ5" value="1"></td>
   <td><input type=radio  name="PHQ5" value="2"></td>
   <td><input type=radio  name="PHQ5" value="3"></td>
   <td><input type=radio  name="PHQ5" value="4"></td>
 </tr>
 <tr>
   <td class="griditem"><li>Feeling as if you are a failure</li></td>
   <td><input type=radio  name="PHQ6" value="1"></td>
   <td><input type=radio  name="PHQ6" value="2"></td>
   <td><input type=radio  name="PHQ6" value="3"></td>
   <td><input type=radio  name="PHQ6" value="4"></td>
 </tr>
 <tr>
   <td class="griditem"><li>Trouble concentrating</li></td>
   <td><input type=radio  name="PHQ7" value="1"></td>
   <td><input type=radio  name="PHQ7" value="2"></td>
   <td><input type=radio  name="PHQ7" value="3"></td>
   <td><input type=radio  name="PHQ7" value="4"></td>
 </tr>
  <tr>
   <td class="griditem"><li>Either moving or speaking slowly or constantly fidgeting</li></td>
   <td><input type=radio  name="PHQ8" value="1"></td>
   <td><input type=radio  name="PHQ8" value="2"></td>
   <td><input type=radio  name="PHQ8" value="3"></td>
   <td><input type=radio  name="PHQ8" value="4"></td>
 </tr>
  <tr>
   <td class="griditem"><li>Thoughts that everyone would be better off without you</li></td>
   <td><input type=radio  name="PHQ9" value="1"></td>
   <td><input type=radio  name="PHQ9" value="2"></td>
   <td><input type=radio  name="PHQ9" value="3"></td>
   <td><input type=radio  name="PHQ9" value="4"></td>
 </tr>


 </tr>
    </ol>
        </table>
            <div id = "pan_result_1">
            <form action = "submit" align = "center">
                <input type = "submit" value="Results">
            </form>
            </div>
            </div>
        </div>
    <br>