#header_wrapper
{
 width:100%;
 min-width:980px;
 background-color:#A9A9A9;
}
#header
{
 width:980px;
 margin:0px auto;
 padding:0px;
 height:85px;
}
#header li
{
 list-style-type:none;
 float:left;
 text-align:left;
 color:white;
}
#header #logo
{
 margin-top:15px;
}
#header form
{
 margin-top:15px;
 float:right;
}
#header form li
{
 font-size:13px;
 margin-left:15px;
}
#header form li a
{
 color:white;
 text-decoration:none;
}
#header form input[type="text"]
{
 margin-top:3px;
 margin-bottom:3px;
 width:150px;
 border:1px solid #08298A;
 height:25px;
 padding-left:3px;
}
#header form input[type="password"]
{
 margin-top:3px;
 margin-bottom:3px;
 width:150px;
 border:1px solid #08298A;
 height:25px;
 padding-left:3px;
}
#header form input[type="submit"]
{
 height:25px;
 margin-top:20px;
 background-color:#696969;
 color:white;
 border:1px solid #08298A;
}
#footer_wrapper
{
 width:100%;
 min-width:980px;
 background-color:#A9A9A9;
}
#footer
{
	text-align:center;
	padding-top:32px;
	padding-bottom:32px;

}
*{
	margin: 0;
	padding: 0;
}
.slide
{ 
	display:none
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #A9A9A9;
  text-align: center;
}

#wrapper
{
 margin:0 auto;
 padding:0px;
 text-align:center;
 width:980px;
}
#wrapper div
{
 float:center;
 font-family: helvetica, arial, sans-serif;
}
#wrapper #div2
{
 margin-top:10px;
 text-align:center;
}
#wrapper #div2 form li
{
 list-style-type:none;
 margin-top:10px;
}
#wrapper #div2 form li input[type="text"]
{
 width:100%;
 height:40px;
 border-radius:5px;
 padding-left:10px;
 font-size:18px;
 border:1px solid #BDBDBD;
}
#wrapper #div2 form li input[type="password"]
{
 width:100%;
 height:40px;
 border-radius:5px;
 padding-left:10px;
 font-size:18px;
 border:1px solid #BDBDBD;
}
#wrapper #div2 form li input[type="submit"]
{
 width:205px;
 height:45px;
 text-align:center;
 font-size:19px;
 margin-top: 10px;
 margin-bottom: 10px;
 font-family: 'Freight Sans Bold', helvetica, arial, sans-serif !important;
 font-weight: bold !important;
 background: linear-gradient(#67ae55, #578843);
 background-color: #69a74e;
 box-shadow: inset 0 1px 1px #a4e388;
 border-color: #3b6e22 #3b6e22 #2c5115;
 border: 1px solid;
 border-radius: 5px;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 position: relative;
 text-shadow: 0 1px 2px rgba(0,0,0,.5);
}