/*  SIGNUP CSS -- Doesn't store passwords properly, so until we get that configured, Signup2.css is probably the one you're looking for. */

/*---------------------------------------------*/
a {
  font-family: "Trebuchet MS", Trebuchet, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: #b3d9ff;
  margin: 0px;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #ffff1a;
}



/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

*/
label {
  margin: 0;
  display: block;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}


/*//////////////////////////////////////////////////////////////////

[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background-color: #99ccff;
}

.container-login100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.65);
}

.wrap-login100 {
  width: 390px;
  border-radius: 10px;
  overflow: hidden;

}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
}

.login100-form-title {
  font-family: "Trebuchet MS", Trebuchet, sans-serif;
  font-size: 28px;
  color: #372f6a;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;

  display: block;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  padding: 29px 0;
}

.input100 {
  font-family: "Trebuchet MS", Trebuchet, sans-serif;
  font-size: 20px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 50px;
  background: transparent;
  padding: 0 10px 0 80px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/*---------------------------------------------*/ 
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 1px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #4da6ff;
}

.focus-input100::after {
  font-family: "Trebuchet MS", Trebuchet, sans-serif;
  font-size: 18px;
  color: #999999;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 40px;
  left: 35px;
 

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus {
  padding-left: 60px;
}

.input100:focus + .focus-input100::after {
  left: 23px;
  color: #d41872;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  left: 23px;
  color: #d41872;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

.has-val.input100 {
  padding-left: 60px;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  font-family: "Trebuchet MS", Trebuchet, sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  margin-top: 4px;
  margin-bottom: 4px;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 40px;
  border-radius: 21px;

  background: #ff8c1a;
  
  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 21px;
  background-color: #555555;
  top: 0;
  left: 0;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background-color: transparent;
}

.login100-form-btn:hover:before {
  opacity: 1;
}


#header_wrapper
{
 width:100%;
 min-width:980px;
 background-color:#4d4dff;
}
#header
{
 width:950px;
 margin:0px auto;
 padding:0px;
 height:100px;
}
#header li
{
 list-style-type:none;
 float:left;
 text-align:left;
 color: #FF4500;
}
#header #logo
{
 margin-top:25px;
 align-self: center;
 margin-left: 375px;
}

#footer_wrapper
{
 width:100%;
 min-width:980px;
 background-color:#87CEDA;
}
#footer form input
{
  background-color:#87CEDA
  text-align:left;
  padding-top:36px;
  padding-bottom:0px;

}
*{
  margin: 0;
  padding: 0;
}


.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #26004d;
  text-align: center;
  font-size: 15px;
  font-family: "Trebuchet MS", Trebuchet, monospace;
}

#wrapper
{
 margin:0 auto;
 padding:0px;
 text-align:center;
 width:980px;
 font: "Lato"
}
#wrapper div
{
 float:center;
 font: "Lato";
}
#wrapper #div2
{
 margin-top:10px;
 text-align:center;
 font: "Lato";
}
#wrapper #div2 form li
{
 list-style-type:none;
 margin-top:10px;
 font: "Lato";
}

#intro
{
  font-family: "Trebuchet MS", Trebuchet, sans-serif;
  
  text-align: center;
  color: #330066;
  font-size: 30px;
  margin-bottom: 50px;
}
#bwrapper
{
 width:205px;
 height:45px;
 text-align:center;
 font-size:19px;
 margin-top: 10px;
 margin-bottom: 10px;
 font-family: "Trebuchet MS" !important;
 font-weight: bold !important;
 background: linear-gradient(#ffff4d, #ffa154);
 background-color: #ffff80;
 box-shadow: inset 0 1px 1px #a4e388;
 border: 1px solid;
 border-radius: 5px;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 position: relative;
 text-shadow: 0 1px 2px rgba(0,0,0,.5);
}